<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :person_id, :value => @child.person_id %>
  <div class="field">
    <%= f.label :姓 %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :名 %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  <!--<div class="field">-->
    <!--<%= f.label :deleted_at %><br>-->
    <!--<%= f.datetime_select :deleted_at %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit '送信' %>
  </div>
<% end %>
