<div data-role="header">
  <%= link_to '戻る',person_path(id: @child.person_id), "data-icon"=>"arrow-l" %>
  <%= link_to '詳細', @child, "data-icon"=>"arrow-R" %> |
  <h1>子供編集</h1>
</div>

<%= render 'form' %>
