<h1>子供</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>姓</th>
      <th>名</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.last_name %></td>
        <td><%= child.first_name %></td>
        <td><%= child.memo %></td>
        <td><%= link_to '詳細', child %></td>
        <td><%= link_to '編集', edit_child_path(child) %></td>
        <td><%= link_to '削除', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

