<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<div data-role="header">
  <%= link_to '戻る',person_path(id: @child.person_id), "data-icon"=>"arrow-l" %>
  <%= link_to '編集', edit_child_path(@child), "data-icon"=>"arrow-l" %>
  <h1>子供詳細</h1>
</div>



<p id="notice"><%= notice %></p>
<p>
  <strong>姓:</strong>
  <%= @child.last_name %>
</p>
<p>
  <strong>名:</strong>
  <%= @child.first_name %>
</p>
<p>
  <strong>メモ:</strong>
  <%= @child.memo %>
</p>

<div id="show_area"></div>

<%= link_to '新規作成', new_transfer_destination_path(:child_id => @child.id) %>


<script type = "text/javascript">

    $(document).ready(function(){
        $.get("<%= transfer_destinations_path :child_id => @child.id %>",
                function(data) { $('#show_area').html(data) } )

        $('a.index').click(function() {
            $.get("<%= transfer_destinations_path :chiild_id => @child.id %>",
                    function(data) { $('#show_area').html(data) } )
        })

    })
</script>
