<%= form_for(@transfer_destination) do |f| %>
  <% if @transfer_destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer_destination.errors.count, "error") %> prohibited this transfer_destination from being saved:</h2>

      <ul>
      <% @transfer_destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :child_id, :value => @transfer_destination.child_id %>

  <div class="field">
    <%= f.label :送迎先区分 %><br>
    <%= f.select(:transfer_dest_div, options_for_select(TransferDestination::TRANSFER_DEST_DIVS, @transfer_destination[:transfer_dest_div])) %>
  </div>
  <div class="field">
    <%= f.label :送迎先名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>

  <div class="actions">
    <%= f.submit '送信' %>
  </div>
<% end %>
