<div data-role="header">
  <%= link_to '戻る',child_path(id: @transfer_destination.child_id), "data-icon"=>"arrow-l" %> |
  <%= link_to '詳細', @transfer_destination, "data-icon"=>"arrow-R" %>
  <h1>送迎先編集</h1>
</div>

<%= render 'form' %>
