<h1>送迎先</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <!--<th>Child</th>-->
      <th>送迎先区分</th>
      <th>送迎先名</th>
      <th>住所</th>
      <th>メモ</th>
      <!--<th>Deleted at</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_destinations.each do |transfer_destination| %>
      <tr>
        <td><%= transfer_destination.transfer_dest_name %></td>
        <td><%= transfer_destination.name %></td>
        <td><%= transfer_destination.address %></td>
        <td><%= transfer_destination.memo %></td>
        <td><%= link_to '詳細', transfer_destination %></td>
        <td><%= link_to '編集', edit_transfer_destination_path(transfer_destination) %></td>
        <td><%= link_to '削除', transfer_destination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


