<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<div data-role="header">
  <%= link_to '戻る',child_path(id: @transfer_destination.child_id), "data-icon"=>"arrow-l" %> |
  <%= link_to '編集', edit_transfer_destination_path(@transfer_destination), "data-icon"=>"arrow-l" %>
  <h1>送迎先詳細</h1>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>送迎先区分:</strong>
  <%= @transfer_destination.transfer_dest_name %>
</p>

<p>
  <strong>送迎先名:</strong>
  <%= @transfer_destination.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @transfer_destination.address %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @transfer_destination.memo %>
</p>
