<%= form_for :schedule, url: edit_transfer_dests_schedule_path(id:(@schedule.id.blank?) ? 0: @schedule.id), method: :patch do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div data-role="fieldcontain">
    <%= f.label :予定日 %><br>
    <%= f.text_field :date, id:'datepicker' %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :送迎区分 %><br>
    <%= f.select(:pickup_div, options_for_select(Schedule::PICKUP_DIVS, @schedule[:pickup_div])) %>
  </div>
  <% if (current_person.is_a?(Admin)) %>
    <div data-role="fieldcontain">
      <%= f.label :到着予定時刻 %><br>
      <%= f.text_field :estimated_time_of_arrival, :type=>"text", :id=>"datetimepicker1" %>
    </div>
  <% end %>
  <div data-role="fieldcontain">
    <%= f.label :氏名 %><br>
    <% if (current_person.is_a?(Admin)) %>
      <%= f.select(:child_id, options_for_select(@schedule.child_list_for_admin, @schedule[:child_id])) %>
    <% elsif (current_person.is_a?(Person)) %>
        <%= f.select(:child_id, options_for_select(@schedule.child_list_for_person(current_person), @schedule[:child_id])) %>
    <% end %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :利用時間帯 %><br>
    <% if [5, 6].include?(Time.now.wday-1) || !(Time.now.extend Shukujitu).shukujitu?.blank? %>
      <%= f.select(:use_time_div, options_for_select(Schedule::USE_TIME_HOLIDAY_DIVS, @schedule[:use_time_div])) %>
    <% else %>
      <%= f.select(:use_time_div, options_for_select(Schedule::USE_TIME_WEEKDAY_DIVS, @schedule[:use_time_div])) %>
    <% end %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :下校時刻 %><br>
    <%= f.text_field :get_out_of_school_time, :type=>"text", :id=>"datetimepicker2" %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :希望時刻 %><br>
    <%= f.text_field :desired_time, :type=>"text", :id=>"datetimepicker3" %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :ステータス %><br>
    <% if (current_person.is_a?(Admin)) %>
      <%= f.select(:status_div, options_for_select(Schedule::STATUS_DIVS_FOR_MASTER, @schedule[:status_div])) %>
    <% elsif (current_person.is_a?(Person)) %>
      <%= f.select(:status_div, options_for_select(Schedule::STATUS_DIVS_FOR_PERSON, @schedule[:status_div])) %>
    <% end %>


  </div>
  <div data-role="fieldcontain">
    <%= f.label :備考 %><br>
    <%= f.text_area :memo %>
  </div>
  <div data-role="fieldcontain">
    <%= f.submit '次へ' %>
  </div>
<% end %>

<script>
  $('#datetimepicker1').datetimepicker({
    datepicker:false,
    format:'H:i',
    step:5
  });
  $('#datetimepicker2').datetimepicker({
    datepicker:false,
    format:'H:i',
    step:5
  });
  $('#datetimepicker3').datetimepicker({
    datepicker:false,
    format:'H:i',
    step:5
  });


</script>