<div data-role="header">
  <%= link_to '戻る', edit_schedule_path(@schedule), "data-icon"=>"arrow-l" %>
  <h1>送迎先編集</h1>
</div>


<%= form_for :schedule, url: schedule_path(@schedule), method: :patch, id:(@schedule.id.blank?) ? 0: @schedule.id  do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain" class="hide">
    <%= f.label :送迎先 %><br>
    <%= f.select(:transfer_destination_id, options_for_select(@schedule.transfer_destination_list_for_child, @schedule[:transfer_destination_id]), name:"select1") %>
  </div>

  <%= f.hidden_field :id, :value => @schedule.id %>
  <%= f.hidden_field :date, :value => @schedule.date %>
  <%= f.hidden_field :pickup_div, :value => @schedule.pickup_div %>
  <%= f.hidden_field :estimated_time_of_arrival, :value => @schedule.estimated_time_of_arrival_ %>
  <%= f.hidden_field :child_id, :value => @schedule.child_id %>
  <%= f.hidden_field :use_time_div, :value => @schedule.use_time_div %>
  <%= f.hidden_field :get_out_of_school_time, :value => @schedule.get_out_of_school_time_ %>
  <%= f.hidden_field :desired_time, :value => @schedule.desired_time_ %>
  <%= f.hidden_field :status_div, :value => @schedule.status_div %>
  <%= f.hidden_field :memo, :value => @schedule.memo %>

  <div data-role="fieldcontain">
    <%= f.submit '送信' %>
  </div>
<% end %>




