<div>
  <div data-role="header">
    <h1>スケジュール</h1>
    <%= link_to '新規', new_schedule_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% @schedules.each do |schedule| %>
        <li data-role="list-divider" style="padding: 0.1em 15px;"><%= schedule.date %></li>
        <li><%= link_to schedule.pickup_name + " 予定 " + schedule.estimated_time_of_arrival_ + " 時 " ,
                        schedule %></li>
      <% end %>
    </ul>
  </div>
</div>