<h1>予定表</h1>

<%= link_to '新規', new_schedule_path %>
<% if (current_person.is_a?(Admin)) %>
  <button type="button" name="kakutei">確定</button>
<% end %>

<table id="scheduleTable" class="tablesorter">
  <thead>
    <tr>
      <th><input type="checkbox" class="js-checkAllInTable"></th>
      <th>予定日</th>
      <th>送迎区分</th>
      <th>到着予定時刻</th>
      <th>氏名</th>
      <th>利用時間帯</th>
      <th>下校時刻</th>
      <th>希望時刻</th>
      <th>ステータス</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><input type="checkbox" id="check" value="<%= schedule.id %>"></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.pickup_name %></td>
        <td><%= schedule.estimated_time_of_arrival_ %></td>
        <td><%= schedule.child.full_name unless schedule.child.blank? %></td>
        <td><%= schedule.use_time_name %></td>
        <td><%= schedule.get_out_of_school_time_ %></td>
        <td><%= schedule.desired_time_ %></td>
        <td><%= schedule.status_name %></td>
        <td><%= schedule.memo %></td>
        <td><%= link_to '詳細', schedule %></td>
        <td><%= link_to '編集', edit_schedule_path(schedule) %></td>
        <td><%= link_to '削除', schedule, method: :delete, data: { confirm: '本当に削除をしますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="pager" class="pager">
  <form>
    <button class="first"><<</button>
    <button class="prev"><</button>
    <input type="text" class="pagedisplay"/>
    <button class="next">></button>
    <button class="last">>></button>
    <select class="pagesize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option selected="selected" value="50">50</option>
      <option value="100">100</option>
    </select>
  </form>
</div>

<script type="text/javascript">

  // ソートとページング
  $(document).ready(function(){
            $("#scheduleTable").tablesorter({
              headers: {
                0: { sorter: false } , 10: { sorter: false }   // 1列目のソートを無効にする
              }
            })
            .tablesorterPager({container: $("#pager")});
  });

  // 確定ボタン押下時の処理
  $(document).on("click", "[name='kakutei']", function(e) {
    var arr = new Array();
    $('[id="check"]:checked').each(function(){
      arr.push($(this).val());
    });
    console.log("選択したID");
    console.log(arr);
    if (arr.length == 0) {
      alert("スケジュールを選択してから押してください。");
    } else {
      $.post('/schedules/kakutei/'+ arr);
    }
  });

  //見出し行のチェックボックスに class="js-checkAllInTable" などのクラス名を付けておくとする
  $(function() {
    //一覧での全チェック
    $('.js-checkAllInTable').on('click', function(){
      $(this).parents('table:eq(0)').find('input[type="checkbox"]').prop('checked', this.checked);
    });
  });
</script>