<div data-role="header">
  <%= link_to '戻る', schedules_path, "data-icon"=>"arrow-l" %> |
  <%= link_to '編集', edit_schedule_path(@schedule), "data-icon"=>"arrow-l" %>
  <h1>スケジュール詳細</h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>予定日:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>送迎区分:</strong>
  <%= @schedule.pickup_name %>
</p>

<p>
  <strong>送迎先:</strong>
  <%= @schedule.transfer_destination.name unless @schedule.transfer_destination.blank? %>
</p>

<p>
  <strong>到着予定時刻:</strong>
  <%= @schedule.estimated_time_of_arrival_ %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @schedule.child.full_name unless @schedule.child.blank? %>
</p>

<p>
  <strong>利用時間帯:</strong>
  <%= @schedule.use_time_name %>
</p>

<p>
  <strong>下校時刻:</strong>
  <%= @schedule.get_out_of_school_time_ %>
</p>

<p>
  <strong>希望時刻:</strong>
  <%= @schedule.desired_time_ %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @schedule.status_name %>
</p>

<p>
  <strong>備考:</strong>
  <%= @schedule.memo %>
</p>

