<!DOCTYPE html>
<html>
<head>
  <title>Rakusuke</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    $(function() {
      $("#datepicker").datepicker();
      $('#datepicker').datepicker("option", "dateFormat", 'yy/mm/dd');
    });
  </script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div data-role="header">


    <% if current_person.is_a?(Admin) %>
      <strong><%= current_person.email %></strong>.
      <%= link_to 'パスワード変更', edit_admin_registration_path, :class => 'navbar-link' %> |
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %> |
    <% elsif current_person.is_a?(Person) %>
      <strong><%= current_person.email %></strong>.
      <%= link_to "ログアウト", destroy_person_session_path, method: :delete, :class => 'navbar-link'  %> |
    <% else %>
    <%#
             <%= link_to "管理者登録（暫定）", new_admin_registration_path, :class => 'navbar-link'  %>

    <% end %>
      <%= link_to "ホーム", root_path, :class => 'navbar-link'  %>
  <%= yield %>
    </div>

</body>
</html>
