<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iPhone</title>
  <%= stylesheet_link_tag "mobile_application" %>
  <%= javascript_include_tag "mobile_application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div data-role="page">
  <p class="navbar-text pull-right">

    <% if current_person.is_a?(Admin) %>
      <strong><%= current_person.email %></strong>.
      <%= link_to 'パスワード変更', edit_admin_registration_path, :class => 'navbar-link' %> |
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %> |
    <% elsif current_person.is_a?(Person) %>
      <strong><%= current_person.email %></strong>.
      <%= link_to "ログアウト", destroy_person_session_path, method: :delete, :class => 'navbar-link'  %> |
    <% end %>
    <%= link_to "ホーム", root_path, :class => 'navbar-link'  %>

    <%= yield %>
  </div>
</body>
</html>