<h1>楽スケ（仮）</h1>
<p></p>

<% if current_person.is_a?(Admin) %>
  <%= link_to "スケジュール登録", schedules_path %><br/>
  <%= link_to "顧客登録", people_path %><br/>
<% elsif current_person.is_a?(Person) %>
  <%= link_to "スケジュール登録", schedules_path %><br/>
<% end %>
