<h2>楽スケ（仮）</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "パスワードを記憶させる" %></div>
  <% end -%>

  <div><%= f.submit "ログイン" %></div>
<% end %>

<%= render "devise/shared/links" %>
