<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :姓 %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :名 %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :お知らせメール送信可否 %><br>
    <%= f.check_box :email_flg %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  <!--<div class="field">-->
    <!--<%= f.label :deleted_at %><br>-->
    <!--<%= f.datetime_select :deleted_at %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit '送信' %>
  </div>
<% end %>
