<h1>保護者</h1>


<%= link_to '新規作成', new_person_path %>

<table class="tablesorter">
  <thead>
    <tr>
      <th>姓</th>
      <th>名</th>
      <th>住所</th>
      <th>Email</th>
      <th>お知らせメール可否</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.last_name %></td>
        <td><%= person.first_name %></td>
        <td><%= person.address %></td>
        <td><%= person.email %></td>
        <td><%= person.email_flg %></td>
        <td><%= person.memo %></td>
        <td><%= link_to '詳細', person %></td>
        <td><%= link_to '編集', edit_person_path(person) %></td>
        <td><%= link_to '削除', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


