<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<div data-role="header">
  <%= link_to '戻る', people_path, "data-icon"=>"arrow-l" %> |
  <%= link_to '編集', edit_person_path(@person), "data-icon"=>"arrow-l" %>
  <h1>保護者詳細</h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>姓:</strong>
  <%= @person.last_name %>
</p>
<p>
  <strong>名:</strong>
  <%= @person.first_name %>
</p>
<p>
  <strong>住所:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>お知らせメール可否:</strong>
  <%= @person.email_flg %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @person.memo %>
</p>



<div id="show_area"></div>
<%= link_to '新規作成', new_child_path(:person_id => @person.id) %>


<script type = "text/javascript">

    $(document).ready(function(){
$.get("<%= children_path :person_id => @person.id %>",
function(data) { $('#show_area').html(data) } )

$('a.index').click(function() {
$.get("<%= children_path :person_id => @person.id %>",
function(data) { $('#show_area').html(data) } )
})

})
</script>